# Tax Data by Zipcode - IRS

In [1]:
import pandas as pd 
import numpy as np 
import pickle 

%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [39]:
pd.set_option("max_columns", 80)

 # 2011

In [40]:
df_2011 = pd.read_csv("11zpallnoagi.csv", dtype={'ZIPCODE':'object'})

In [41]:
df_2011.drop(['STATEFIPS'], axis=1, inplace=True)

In [42]:
df_2011.drop(['AGI_STUB'], axis=1, inplace=True)

In [43]:
df_2011.columns

Index(['STATE', 'ZIPCODE', 'N1', 'MARS2', 'PREP', 'N2', 'NUMDEP', 'A00100',
       'N00200', 'A00200', 'N00300', 'A00300', 'N00600', 'A00600', 'N00650',
       'A00650', 'N00900', 'A00900', 'SCHF', 'N01000', 'A01000', 'N01400',
       'A01400', 'N01700', 'A01700', 'N02300', 'A02300', 'N02500', 'A02500',
       'N03300', 'A03300', 'N04470', 'A04470', 'N18425', 'A18425', 'N18450',
       'A18450', 'N18500', 'A18500', 'N18300', 'A18300', 'N19300', 'A19300',
       'N19700', 'A19700', 'N04800', 'A04800', 'N07100', 'A07100', 'N07220',
       'A07220', 'N07180', 'A07180', 'N07260', 'A07260', 'N59660', 'A59660',
       'N59720', 'A59720', 'N11070', 'A11070', 'N09600', 'A09600', 'N06500',
       'A06500', 'N10300', 'A10300', 'N11901', 'A11901', 'N11902', 'A11902'],
      dtype='object')

In [46]:
df_2011.rename(columns={'N1':'num_returns',
                        'MARS2':'joint_returns',
                       'A00100':'adjust_gross_income',
                       'A00200':'salaries_wages',
                       'A00300':'taxable_interest',
                       'A00600':'dividends',
                       'A00650':'qualified_dividends',
                       'A18500':'real_estate_taxes',
                       'A18300':'total_taxes',
                       'A04800':'taxable_income_amount',
                       'N07260':'num_returns_residential_energy_credits',
                       'A07260':'residential_energy_tax_credit',
                       'A06500':'income_tax_amount',
                       'A10300':'total_tax_liability'}, inplace=True)

In [52]:
zips = df_2011.groupby('ZIPCODE').median()
zips['year'] = 2011

In [59]:
zips.reset_index(inplace=True)

In [63]:
zips[(zips.ZIPCODE == '10510') | (zips.ZIPCODE == '01010')]

,ZIPCODE,num_returns,joint_returns,PREP,N2,NUMDEP,adjust_gross_income,N00200,salaries_wages,N00300,taxable_interest,N00600,dividends,N00650,qualified_dividends,N00900,A00900,SCHF,N01000,A01000,N01400,A01400,N01700,A01700,N02300,A02300,N02500,A02500,N03300,A03300,N04470,A04470,N18425,A18425,N18450,A18450,N18500,real_estate_taxes,N18300,total_taxes,N19300,A19300,N19700,A19700,N04800,taxable_income_amount,N07100,A07100,N07220,A07220,N07180,A07180,num_returns_residential_energy_credits,residential_energy_tax_credit,N59660,A59660,N59720,A59720,N11070,A11070,N09600,A09600,N06500,income_tax_amount,N10300,total_tax_liability,N11901,A11901,N11902,A11902,year
6,01010,1855.0,847.0,1093.0,3558.0,1007.0,123890.0,1584.0,90145.0,1060.0,652.0,415.0,866.0,370.0,558.0,314.0,4046.0,36.0000,287.0,1059.0,178.0,2110.0,384.0,7682.0,238.0,2119.0,219.0,2441.0,0.0001,0.0001,875.0,19188.0,809.0,4357.0,48.0,32.0,831.0,3305.0,875.0,7977.0,769.0,6934.0,648.0,1050.0,1547.0,86042.0,619.0,697.0,298.0,409.0,69.0,39.0,116.0,32.0,174.0,254.0,122.0,206.0,90.0,105.0,48.0,198.0,1472.0,14157.0,1552.0,14946.0,303.0,1900.0,1464.0,3717.0,2011
2280,10510,4808.0,2408.0,3516.0,10055.0,3430.0,1215057.0,3701.0,721556.0,3421.0,22852.0,2879.0,45840.0,2717.0,34217.0,1050.0,42939.0,0.0001,2593.0,94588.0,766.0,29064.0,956.0,36767.0,258.0,2196.0,829.0,16522.0,291.0000,10446.0000,3187.0,228267.0,2773.0,88010.0,367.0,375.0,2908.0,55391.0,3179.0,144336.0,2270.0,38588.0,2907.0,21863.0,4081.0,947255.0,1823.0,3773.0,303.0,354.0,296.0,182.0,129.0,53.0,127.0,177.0,86.0,132.0,110.0,135.0,1566.0,19130.0,3842.0,266141.0,4004.0,276062.0,1428.0,16328.0,2583.0,13148.0,2011

In [65]:
# pd.set_option('max_rows', 100)
# df_2011.dtypes

In [79]:
zips.drop([0, 27788], inplace=True)

In [82]:
 with open("2011_zipcodes.pkl", "wb") as f:
    pickle.dump(zips, f)

In [83]:
with open("2011_zipcodes.pkl", "rb") as f:
    zips = pickle.load(f)

# 2012

In [199]:
df_2012 = pd.read_csv("12zpallnoagi.csv", dtype={'ZIPCODE':'object'})

In [201]:
df_2012.drop('STATEFIPS', axis=1, inplace=True)

In [205]:
df_2012.drop("AGI_STUB", axis=1, inplace=True)

In [203]:
df_2012['year'] = 2012

In [209]:
labels_to_drop = df_2012[(df_2012.ZIPCODE == '00000') | (df_2012.ZIPCODE == '99999')].index.tolist()
#labels_to_drop
df_2012.drop(labels_to_drop, inplace=True)

In [210]:
df_2012.reset_index(inplace=True)
del df_2012['index']

In [214]:
df_2012.rename(columns={'STATE':'state', 'ZIPCODE':'zipcode'}, inplace=True)

In [215]:
df_2012.head()

,state,zipcode,N1,MARS1,MARS2,MARS4,PREP,N2,NUMDEP,A00100,N00200,A00200,N00300,A00300,N00600,A00600,N00650,A00650,N00900,A00900,SCHF,N01000,A01000,N01400,A01400,N01700,A01700,N02300,A02300,N02500,A02500,N03300,A03300,N00101,A00101,N04470,A04470,N18425,A18425,N18450,A18450,N18500,A18500,N18300,A18300,N19300,A19300,N19700,A19700,N04800,A04800,N07100,A07100,N07220,A07220,N07180,A07180,N07260,A07260,N59660,A59660,N59720,A59720,N11070,A11070,N09600,A09600,N06500,A06500,N10300,A10300,N11901,A11901,N11902,A11902,year
0,AL,35004,4930.0,1940.0,2150.0,720.0,2550.0,10170.0,3340.0,257563.0,4320.0,212053.0,1350.0,1283.0,590.0,1153.0,490.0,806.0,660.0,5675.0,0.0,370.0,1430.0,400.0,5210.0,890.0,16274.0,230.0,989.0,580.0,6317.0,0.0,0.0,1890.0,154120.0,1890.0,32795.0,1620.0,5850.0,230.0,303.0,1650.0,1132.0,1890.0,7692.0,1640.0,11743.0,1630.0,6657.0,4000.0,165616.0,1700.0,2197.0,1100.0,1423.0,430.0,235.0,100.0,30.0,840.0,1906.0,710.0,1680.0,660.0,824.0,30.0,70.0,3570.0,24332.0,3800.0,25545.0,750.0,2038.0,4020.0,10592.0,2012
1,AL,35005,3370.0,1310.0,1100.0,880.0,1970.0,6800.0,2510.0,130344.0,2860.0,106936.0,680.0,637.0,240.0,427.0,170.0,339.0,480.0,1609.0,0.0,120.0,-23.0,280.0,2900.0,700.0,10911.0,190.0,841.0,420.0,3765.0,0.0,0.0,1000.0,59855.0,1000.0,16433.0,770.0,2113.0,130.0,185.0,780.0,600.0,1000.0,3407.0,750.0,4183.0,890.0,4024.0,2530.0,72927.0,1030.0,1158.0,640.0,693.0,200.0,111.0,80.0,32.0,890.0,2241.0,820.0,2015.0,610.0,822.0,0.0,0.0,2150.0,9178.0,2370.0,9809.0,420.0,984.0,2860.0,7970.0,2012
2,AL,35006,1300.0,470.0,650.0,170.0,900.0,2790.0,920.0,59920.0,1090.0,49336.0,310.0,157.0,80.0,44.0,70.0,22.0,170.0,815.0,0.0,40.0,-16.0,90.0,1514.0,310.0,5187.0,80.0,408.0,210.0,1931.0,0.0,0.0,280.0,22540.0,280.0,4723.0,230.0,821.0,30.0,28.0,240.0,198.0,280.0,1182.0,230.0,1424.0,240.0,984.0,980.0,37312.0,400.0,493.0,270.0,385.0,40.0,18.0,20.0,5.0,290.0,665.0,260.0,570.0,170.0,210.0,0.0,0.0,890.0,5043.0,970.0,5244.0,140.0,239.0,1130.0,3060.0,2012
3,AL,35007,11800.0,4580.0,5250.0,1750.0,5510.0,25460.0,9310.0,630557.0,10340.0,513751.0,3130.0,2530.0,1620.0,3350.0,1400.0,2247.0,2010.0,18995.0,30.0,1050.0,5396.0,1000.0,16389.0,1970.0,38328.0,470.0,1882.0,1330.0,16499.0,20.0,267.0,4680.0,403165.0,4680.0,85719.0,3960.0,14654.0,580.0,740.0,4060.0,4180.0,4640.0,20866.0,4020.0,30242.0,4110.0,18154.0,9130.0,404625.0,4060.0,5337.0,2630.0,3489.0,850.0,480.0,230.0,69.0,1930.0,4544.0,1690.0,3951.0,1680.0,2344.0,80.0,290.0,8120.0,59626.0,8870.0,63335.0,2130.0,6820.0,9290.0,23904.0,2012
4,AL,35010,8660.0,3020.0,2870.0,2660.0,5060.0,19560.0,8460.0,384835.0,7470.0,261554.0,1780.0,3204.0,880.0,6939.0,780.0,5312.0,1100.0,10975.0,110.0,660.0,5713.0,650.0,9623.0,1880.0,35239.0,710.0,2263.0,1100.0,13137.0,0.0,0.0,1770.0,191179.0,1770.0,42986.0,1340.0,6466.0,390.0,467.0,1430.0,1779.0,1750.0,9157.0,1300.0,10374.0,1560.0,10428.0,5930.0,225794.0,2670.0,2581.0,1590.0,1520.0,480.0,267.0,120.0,45.0,2520.0,6741.0,2310.0,6282.0,2340.0,3810.0,60.0,397.0,4750.0,38809.0,5230.0,41001.0,1060.0,3471.0,7290.0,21699.0,2012

In [218]:
df_2012.rename(columns={'N1':'num_total_returns',
                        'MARS1':'num_single_returns',
                        'MARS2':'num_married_returns',
                        'MARS4':'num_headhouse_returns',
                        'N2':'num_exemptions',
                        'NUMDEP':'num_dependents',
                       'A00100':'adjust_gross_income',
                        'N00200':'num_return_salaries_wages',
                       'A00200':'salaries_wages_amount',
                        'N00300':'num_returns_taxable_interest',
                       'A00300':'taxable_interest_amount',
                        'N00600':'num_returns_ordinary_dividends',
                       'A00600':'ordinary_dividends_amount',
                        'N00650':'num_returns_qualified_dividends',
                       'A00650':'qualified_dividends_amount',
                        'N00900':'num_returns_business_prof_net_income',
                        'A00900':'business_prof_net_income_amount',
                        'SCHF':'num_farm_returns',
                        'N01000':'num_returns_net_capital_gain',
                        'A01000':'net_capital_gain_amount',
                        'N01400':'num_returns_retirement_arrangements',
                        'A01400':'taxable_retirement_arrangements',
                        'N01700':'num_returns_pensions',
                        'A01700':'taxable_pensions_amount',
                        'N02300':'num_returns_unemployment',
                        'A02300':'unemployment_amount',
                        'N02500':'num_returns_SS_benefits',
                        'A02500':'SS_amount',
                        'N03300':'num_returns_self_employment_retirement',
                        'A03300':'self_employment_retirement_amount',
                        'N00101':'num_returns_itemized_deductions',
                        'A00101':'amount_AGI_itemized_returns',
                        'A04470':'total_itemized_deductions_amount',
                        'N18425':'num_returns_state_local_income_taxes',
                        'A18425':'state_local_income_taxes_amount',
                        'N18450':'num_returns_state_local_sales_tax',
                        'A18450':'state_local_sales_tax_amount',
                        'N18500':'num_returns_real_estate_taxes',
                       'A18500':'real_estate_taxes_amount',
                        'N18300':'num_returns_taxes_paid',
                       'A18300':'total_taxes_paid',
                        'N19300':'num_returns_mortgage_interest_paid',
                        'A19300':'mortgage_interest_paid_amount',
                        'N19700':'num_returns_contributions',
                        'A19700':'contributions_amount',
                        'N04800':'num_returns_taxable_income',
                       'A04800':'taxable_income_amount',
                        'N09600':'num_returns_alt_min_tax',
                        'A09600':'alt_min_tax_amount',
                        'N07100':'num_returns_total_tax_credits',
                        'A07100':'total_tax_credits_amount',
                        'N07180':'num_returns_child_care',
                        'A07180':'child_dependent_care_amount',
                        'N07220':'num_returns_child_tax_credit',
                        'A07220':'child_tax_credit_amount',
                       'N07260':'num_returns_residential_energy_tax_credits',
                       'A07260':'residential_energy_tax_credit',
                        'N59660':'num_returns_earned_income_credit',
                        'A59660':'earned_income_credit_amount',
                        'N59720':'num_returns_excess_earned_income_credit',
                        'A59720':'excess_earned_income_credit_refundable',
                        'N06500':'num_returns_income_tax',
                       'A06500':'income_tax_amount',
                        'N10300':'num_returns_tax_liability',
                        'A10300':'total_tax_liability_amount',
                        'N11901':'num_returns_tax_due_filing',
                        'A11901':'tax_due_time_filing_amount',
                       'N11902':'num_returns_overpayments_refunded',
                       'A11902':'overpayments_refunded_amount'}, inplace=True)

In [220]:
df_2012.drop(['PREP', 'N04470'], axis=1, inplace=True)

In [223]:
df_2012.drop(['N11070', 'A11070'], axis=1, inplace=True)

In [232]:
 with open("2012_zipcodes.pkl", "wb") as f:
    pickle.dump(df_2012, f)

In [233]:
with open("2012_zipcodes.pkl", "rb") as f:
    df_2012 = pickle.load(f)